option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    DATABASE_HOST: vantagepoint-production.c6ds4c4qok1n.us-east-1.rds.amazonaws.com
    DATABASE_PORT: "5432"
    DATABASE_USERNAME: postgres
    DATABASE_PASSWORD: "VantagePoint2024!"
    DATABASE_NAME: vantagepointcrm
    JWT_SECRET: "VantagePoint2024!SecretKey"
    JWT_EXPIRES_IN: "24h"
    PORT: "8080"
    NPM_USE_PRODUCTION: "false"
    NODE_OPTIONS: "--max-old-space-size=1024"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
